body{
    margin: 0px;
    font-family: "SE Inter","Space Grotesk",Helvetica,sans-serif;
}

#wrapperLandingPage{
    display: grid;
    border-bottom: 1px solid #333;
    height: calc(100vh - 4px);
    grid-template-columns: 55% 2.5% 42.5%;
    grid-template-rows:13% 8% 79%;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "sc dv as"
    ;
}

header{
    grid-area: hd;
    background-color: #e67e22;
}
header h1{
    text-align: center;
    font-size: 2rem;
    color: #fbf9ee;
}

nav{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    grid-area: nv;
    background-color: #E69C22;
}
nav h2{
    font-size: 24px;
    margin: 0;
    padding-top:7px;
    padding-left: 20px;
    color: #fbf9ee;
}
.secondNavText{
    padding-left: 10px;
    color: #468391;
}
.thirdNavText{
    font-size: 16px;
    margin: 0;
    padding-left: 10;
    padding-top: 13px;
    font-weight: 1;
}

section{
    grid-area: sc;
    background-color: #fff;
}

.mainImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#imageDivider{
    grid-area: dv;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: #22C3E6;
}

aside{
    grid-area: as;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.articleTitle{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 2rem;
}

.articleDescription{
    margin-top: 0px;
    margin-left: 10px;
}

.imageDividerText{
    text-justify: distribute;
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 0.4rem;
    word-spacing: 0.7rem;
    writing-mode: vertical-lr;
    margin: 0px;
   
}
/* ----------------------------------------------------------- */

#wrapperCards{
    height: 100vh;
    background-color: white;
}

#cardContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    height: auto;
    width: auto;
}

.cardImg{
    object-fit: fill;
}