body{
    margin: 0px;
    font-family: "SE Inter","Space Grotesk",Helvetica,sans-serif;

}

#wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 55% 2.5% 42.5%;
    grid-template-rows:13% 8% 79%;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "sc dv as"
    ;
}

header{
    grid-area: hd;
    background-color: #e67e22;
}
header h1{
    text-align: center;
    font-size: 2rem;
    color: #fbf9ee;
}

nav{
    display: flex;
    grid-area: nv;
    background-color: #1B4D7A;
}
nav h2{
    font-size: 24px;
    margin: 0;
    padding-top:7px;
    padding-left: 20px;
    color: #fbf9ee;
}
.secondNavText{
    padding-left: 10px;
    color: #e67e22;
}
.thirdNavText{
    font-size: 16px;
    margin: 0;
    padding-left: 10;
    padding-top: 13px;
    font-weight: 1;
}

section{
    grid-area: sc;
    background-color: #fff;
}

.mainImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div{
    grid-area: dv;
    background-color: yellow;
}

aside{
    grid-area: as;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4ECDC4;
}

.articleTitle{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 2rem;
}

.articleDescription{
    margin-top: 0px;
    margin-left: 10px;
}

.imageDividerText{
    font-size: 1rem;
    padding-top: 5px;
    padding-left: 0.4rem;
    word-spacing: 5px;
    writing-mode: vertical-lr;
    text-align: left;
    margin: 0px;
   
}